@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-ExtraLight.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-ExtraBold.ttf");
    font-weight: 800;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Black.ttf");
    font-weight: 900;
  }
  html,
  input,
  textarea {
    font-family: "Noto Sans", sans-serif;
  }

  html {
    font-size: 10px;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

hr {
  @apply dark:border-dark-second dark:bg-dark-second dark:text-dark-second;
}

/* body * {
  @apply transition-colors duration-[50ms] ;
} */

/* Global classes */

.absolute-center-y {
  @apply absolute top-1/2 -translate-y-1/2;
}

.absolute-center-x {
  @apply absolute left-1/2 -translate-x-1/2;
}

.absolute-center {
  @apply absolute-center-y absolute-center-x;
}

.active-state-effect:active {
  @apply bg-first/20 transition-all;
}

/* badges */

.badge {
  @apply text-sm;
}

.badge-primary {
  @apply badge bg-supporting-third/10 text-first px-3 py-1 rounded-full;
}

/* Buttons */
.btn {
  @apply py-3 px-6 rounded-md text-center text-sm font-semibold tracking-wide inline-block;
}

.btn-first {
  @apply btn bg-first text-supporting-extra-light;
}

.btn-second {
  @apply btn bg-second text-supporting-extra-light dark:bg-third;
}

.btn-link-first {
  @apply text-first;
}

/* Modals */

.toggle-modal:checked + .modal-wrapper {
  @apply visible opacity-100;
}

.toggle-modal:checked + .modal-wrapper > div {
  @apply scale-100;
}

/* Forms */

input,
textarea {
  @apply border rounded-md py-3 px-4 outline-0;
}

.input-group label {
  @apply text-third font-semibold;
}

.float-input {
  @apply relative;
}

.float-input input::placeholder {
  @apply opacity-0;
}

.float-input .float-label {
  @apply transition-all absolute-center-y left-3;
}

.float-input input:focus,
.float-input input:not(:placeholder-shown) {
  @apply border-first;
}

.float-input input:focus + .float-label,
.float-input input:not(:placeholder-shown) + .float-label {
  @apply text-xs top-0 bg-white px-1 text-first;
}

/* Dashboard Sidebar */

.toggleSidebar:checked + .dash-sidebar {
  @apply visible opacity-100;
}

.toggleSidebar:checked + .dash-sidebar > .dash-sidebar-menu {
  @apply translate-x-0;
}

.dash-sidebar label:active {
  @apply active-state-effect;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul,
.dash-sidebar .current {
  @apply bg-white/10;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul {
  @apply max-h-96;
}

.dash-sidebar
  input[type="checkbox"]:checked
  + label
  > i.fa-chevron-down::before {
  content: "\f077";
}

.dash-sidebar .sub-menu li {
  @apply translate-x-20 opacity-0 transition-all duration-200 ease-out;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul > li {
  @apply translate-x-0 opacity-100;
}

/* dashboard box */
.box {
  @apply bg-white rounded-md p-2 shadow-colored text-supporting-middle  dark:shadow-md dark:bg-dark-second dark:text-supporting-dark-first;
}

/* dashboard nav */

.toggle-floating-menu:checked + .floating-menu {
  @apply scale-100 opacity-100;
}

/* Switch dark mode */

.toggle-dark-mode:checked + label i[class*="moon"] {
  @apply scale-0;
}

.toggle-dark-mode:checked + label i[class*="sun"] {
  @apply scale-100;
}

/* Data Tables */

.data-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.data-table thead > tr > td {
  @apply p-6;
}

.data-table tbody > tr > td {
  @apply bg-supporting-mid-light/10 px-6 py-2 dark:bg-dark-first;
}

.data-table > tbody > tr > td:first-child {
  @apply rounded-l-lg;
}

.data-table > tbody > tr > td:last-child {
  @apply rounded-r-lg;
}

.pagination > * {
  @apply flex justify-center items-center rounded-md w-10 h-10 p-4;
}

.pagination .active {
  @apply border border-supporting-mid-light/10 shadow-sm dark:bg-dark-first;
}

/* Data Form */
.data-form {
  @apply space-y-4;
}

.data-form .input-group {
  @apply space-y-3;
}

.data-form .input-group label {
  @apply block;
}

.data-form .input-group input {
  @apply bg-supporting-light/5 text-third;
}

.data-form .input-group input::placeholder {
  @apply text-third;
}

.data-form .input-group .input-w-desc {
  @apply flex;
}

.data-form .input-group .input-w-desc input {
  @apply flex-1;
}

.data-form .input-group .input-w-desc .input-desc {
  @apply bg-third/10  p-4 border;
}

.input-w-desc.right input {
  @apply rounded-r-none;
}

.data-form .input-group .input-w-desc.right .input-desc {
  @apply rounded-r-md;
}

.data-form .input-group .input-w-desc.left input {
  @apply rounded-l-none;
}

.data-form .input-group .input-w-desc.left .input-desc {
  @apply rounded-l-md;
}
