@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-ExtraLight.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-ExtraBold.ttf");
    font-weight: 800;
  }

  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Black.ttf");
    font-weight: 900;
  }
  html,
  input,
  textarea {
    font-family: "Noto Sans", sans-serif;
  }

  html {
    font-size: 10px;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

hr {
  @apply dark:border-dark-second dark:bg-dark-second dark:text-dark-second;
}

/* body * {
  @apply transition-colors duration-[50ms] ;
} */

/* Global classes */

.absolute-center-y {
  @apply absolute top-1/2 -translate-y-1/2;
}

.absolute-center-x {
  @apply absolute left-1/2 -translate-x-1/2;
}

.absolute-center {
  @apply absolute-center-y absolute-center-x;
}

.active-state-effect:active {
  @apply bg-first/20 transition-all;
}

/* badges */

.badge {
  @apply text-sm;
}

.badge-primary {
  @apply badge bg-supporting-third/10 text-first px-3 py-1 rounded-full;
}

/* Buttons */
.btn {
  @apply py-3 px-6 rounded-md text-center text-sm font-semibold tracking-wide inline-block;
}

.btn-first {
  @apply btn bg-first text-supporting-extra-light;
}

.btn-second {
  @apply btn bg-second text-supporting-extra-light dark:bg-third;
}

.btn-link-first {
  @apply text-first;
}

/* Modals */

.toggle-modal:checked + .modal-wrapper {
  @apply visible opacity-100;
}

.toggle-modal:checked + .modal-wrapper > div {
  @apply scale-100;
}

/* Dashboard Sidebar */

.toggleSidebar:checked + .dash-sidebar {
  @apply visible opacity-100;
}

.toggleSidebar:checked + .dash-sidebar > .dash-sidebar-menu {
  @apply translate-x-0;
}

.dash-sidebar label:active {
  @apply active-state-effect;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul,
.dash-sidebar .current {
  @apply bg-white/10;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul {
  @apply max-h-96;
}

.dash-sidebar
  input[type="checkbox"]:checked
  + label
  > i.fa-chevron-down::before {
  content: "\f077";
}

.dash-sidebar .sub-menu li {
  @apply translate-x-20 opacity-0 transition-all duration-200 ease-out;
}

.dash-sidebar input[type="checkbox"]:checked ~ ul > li {
  @apply translate-x-0 opacity-100;
}

/* dashboard box */
.box {
  @apply bg-white rounded-md p-2 shadow-colored text-supporting-middle  dark:shadow-md dark:bg-dark-second dark:text-supporting-dark-first;
}

/* dashboard nav */

.toggle-floating-menu:checked + .floating-menu {
  @apply scale-100 opacity-100;
}

/* Switch dark mode */

.toggle-dark-mode:checked + label i[class*="moon"] {
  @apply scale-0;
}

.toggle-dark-mode:checked + label i[class*="sun"] {
  @apply scale-100;
}

/* Data Tables */

.data-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.data-table thead > tr > td {
  @apply p-6;
}

.data-table tbody > tr > td {
  @apply bg-supporting-mid-light/10 px-6 py-2 dark:bg-dark-first;
}

.data-table > tbody > tr > td:first-child {
  @apply rounded-l-lg;
}

.data-table > tbody > tr > td:last-child {
  @apply rounded-r-lg;
}

.pagination > * {
  @apply flex justify-center items-center rounded-md w-10 h-10 p-4;
}

.pagination .active {
  @apply border border-supporting-mid-light/10 shadow-sm dark:bg-dark-first;
}

/* Forms */

input,
textarea {
  @apply border rounded-md py-3 px-4 outline-0;
}

.float-input {
  @apply relative;
}

.float-input input::placeholder {
  @apply opacity-0;
}

.float-input .float-label {
  @apply transition-all absolute-center-y left-3;
}

.float-input input:focus,
.float-input input:not(:placeholder-shown) {
  @apply border-first;
}

.float-input input:focus + .float-label,
.float-input input:not(:placeholder-shown) + .float-label {
  @apply text-xs top-0 bg-white px-1 text-first;
}

/* Data Form */
.data-form {
  @apply space-y-4;
}

.data-form .input-group,
.data-form .editor-input-group,
.data-form .switch-input-group {
  @apply space-y-3;
}

.data-form .input-group label,
.data-form .editor-input-group:first-child,
.data-form .switch-input-group [for] {
  @apply text-third font-semibold  dark:text-supporting-dark-second;
}
.data-form .input-group label,
.data-form .switch-input-group [for] {
  @apply block;
}
.data-form .input-group input,
.ck-editor__editable[role="textbox"],
.data-form .input-group .ts-control {
  @apply text-third border-third/20 dark:bg-dark-second dark:border-dark-second dark:text-supporting-dark-second dark:border-0;
}

.ts-wrapper.multi .ts-control > div {
  @apply text-base text-third dark:bg-supporting-dark-first;
}

.ts-dropdown-content,
.ts-control > * {
  @apply text-base;
}

.data-form .input-group input::placeholder {
  @apply text-third text-base dark:text-supporting-dark-second;
}

.data-form .input-group .input-w-desc {
  @apply flex;
}

.data-form .input-group .input-w-desc input {
  @apply flex-1;
}

.data-form .input-group .input-w-desc .input-desc {
  @apply bg-black/5 text-third  p-4 border dark:border-0 dark:bg-supporting-dark-first/20 dark:text-supporting-dark-first;
}

.input-w-desc.right input {
  @apply rounded-r-none;
}

.data-form .input-group .input-w-desc.right .input-desc {
  @apply rounded-r-md;
}

.data-form .input-group .input-w-desc.left input {
  @apply rounded-l-none;
}

.data-form .input-group .input-w-desc.left .input-desc {
  @apply rounded-l-md;
}

/* Ckeditor */
.ck-editor__editable[role="textbox"] {
  min-height: 300px;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  @apply dark:bg-supporting-dark-first;
}

.ck-content ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.ck-content li {
  display: list-item;
}
.ck-content p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ck-content ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.ck-content a:link {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

.ck-content a {
  cursor: pointer;
}

.ck-content a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

.ck-content a:link:active {
  color: (internal value);
}

.ck-content a:visited:active {
  color: (internal value);
}

.ck-content img {
  display: inline-block;
}
/* Switch Btn */
.switch-input-group .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.switch-input-group .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-input-group .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-input-group .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @apply dark:bg-dark-second;
}

.switch-input-group input:checked + .slider {
  @apply bg-first dark:bg-supporting-dark-first;
}

.switch-input-group input:focus + .slider {
  @apply shadow-colored;
}

.switch-input-group input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.switch-input-group .slider.round {
  border-radius: 34px;
}

.switch-input-group .slider.round:before {
  border-radius: 50%;
}
